*{
    padding: 0;
    margin: 0;
    
}

.icono{
    width: 30px;
    height: 30px;
    background-color: rgba(0, 0, 0, 0);
}

.background {
    height: 100vh;
    background: url('../img/background.jpg'), linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5));
    background-size: cover;
}

h1, h3, h4, p{
    text-align: center;
    color: rgb(255, 255, 255);
}

p{
    text-align: justify;
}

th, td{
    color: rgb(255, 255, 255);
}

.container{
    background-color: rgba(0, 0, 0, 0.233);
}

img{
    width: 500px;
    height: 400px;
    background-color: rgb(255, 255, 255);
}



button{
    background-color: aliceblue;
}


