body {
  height: 100%;
  background-image: url("../img/4882065.svg");
  background-size: cover;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  color: snow !important;
}

.dark-div {
  background-color: #283044 !important;
  border-radius: 10px !important;
}

#navbarDropdown {
  color: white;
}

.dropdown-item {
  color: white !important;
}
#navbarDropdown {
  color: white;
}

#navbarDropdown:hover {
  color: #0247fe;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  color: #0247fe !important;
}
