#navbarDropdown {
    color: white;
}

.dropdown-item {
    color: white !important;
}

.container-profile {
    background-color: #1F2533 !important;
    margin: 3em 1.5em 3em;
    border-radius: 15px;
    padding: 2em;
    width: auto !important;
    height: auto !important;
}

#avatar {
    border-radius: 50%;
    width: 160px;
    height: 160px;
    margin: 2em 0em 1em;
}

.profile-text {
    color: white;
}

.col-sm-9 h1 {
    color: white !important;
}

.group-container {
    margin-bottom: 2em;
}

#myChart {
    width: 100%;
}


.editButton {
    margin-bottom: 1em !important;
    margin-top: 1em;
}

.modal-title{
    color: black;
}

.col-profile{
    width: 300px !important;
    margin-right: 10em;
    height: auto;
}

.card-stats{
    height: auto !important;
    padding: 1em;
}

#myChart{
    height: auto !important;
}

.card h5{
    font-size: x-large;
}

.card p{
    font-size: large;
}

.card button{
    margin: 1em 0 1em;
}

.modal-body .card{
    margin: 1em 0 1em;
}

i{
    color: #0247fe;
}