body {
  height: 100%;
  background-image: url("../img/4882065.svg");
  background-size: cover;
  background-size: 150%;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

.dark-container-sign {
  background-color: #1f2533 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px !important;
  margin-right: 8%; 
  margin-left: .4%;
  margin-top: 11%;
  margin-bottom: 5%;
}

.dark-container-login {
  background-color: #1f2533 !important;
  width: 100% !important;
  height: 100% !important;
  border-radius: 20px !important;
  margin-left: 8%;
  margin-right: 0.4%;
  margin-top: 11%;
}

#txtUsuario {
  background-image: url(../img/envelope-solid.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-position: 0.5em;
}

#txtUsuarioR {
    background-image: url(../img/envelope-solid.svg);
    background-repeat: no-repeat;
    background-size: 1.4em;
    padding: 0.5em 0.5em 0.5em 2.5em;
    background-position: 0.5em;
}

#selectUser {
  background-image: url(../img/user-solid.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-position: 0.5em;
}

#txtContrasenia {
  background-image: url(../img/lock-solid.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-position: 0.5em;
}
#txtContraseniaR,
#txtConfirmarContrasenia {
  background-image: url(../img/lock-solid.svg);
  background-repeat: no-repeat;
  background-size: 1.4em;
  padding: 0.5em 0.5em 0.5em 2.5em;
  background-position: 0.5em;
}

button {
  font-size: 1rem;
  background-color: #0247fe;
  color: snow;
  border: 1px solid;
  border-radius: 10px;
  height: 160%;
  border: none;
  width: 100%;
}

button:hover {
  background-color: #346afe;
  cursor: pointer;
}

#navbarDropdown {
  color: white;
}

#navbarDropdown:hover {
  color: #0247fe;
}

.dropdown-item {
  color: white !important;
}

.dropdown-item:hover {
  color: #0247fe !important;
}
