 .form-label{
    color: snow!important;
  }

  .dark-container{
    background-color: #1F2533 !important;
  }

  .footer-color{
    background-color: #1a1f2c;
  }

  .btn-SQL{
    color: #fff !important;
    background-color: #0247fe !important;
    border-color: #0247fe !important;
  }

  .dark-div{
    background-color: #283044;
    border-radius: 10px;
  }